.navbar {
  margin-left: 80px;
}
.navbar a {
  display: inline-block;
  position: relative;
}

.navbar .navbarItem::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #0087ca, #b92025);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar .navbarItem:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.navbarItem {
  cursor: pointer;
  transition: 0.2s;
}

.navbar .navbarItem.selected::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #0087ca, #b92025);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}